<!DOCTYPE html>
<html>
<head>
    <title>Customer Login</title>
</head>
<body>
<h1>Customer Login</h1>

<div th:if="${success}" style="color: green;">
    <p th:text="${success}"></p>
</div>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form method="post" th:action="@{/login}">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" required /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
</form>

<p><a href="/register">Don't have an account? Register here</a></p>
</body>
</html>